.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    background: #EDF2EC;
    padding: 42px 109px 42px 111px;
    height: 134px;
}
.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    width: 452px;
    height: 50px;
  }
.nav-item {
    margin-left: 46px;
    font-family: "Inika";
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
}
.nav-item a {
    color: #010201;
    text-decoration: none;
}
.home a {
    color: #E06733;
}
.home {
    margin: 0;
}
.contacts {
    margin-right: 0;
}

.navbar__logo {
  margin: 11px 0 22px;
  display: flex;
  align-items: center;
}

.navbar__logo-text {
  font-family: "Inika";
  font-weight: 400;
  font-size: 16px;
}

.welcome-container {
  padding: 62px 109px 62.64px 109px;
  background: #EDF2EC;
}

.welcome-section {
  display: flex;
}

.welcome-text h1 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  font-style: normal;
  color: #717171;
  margin-bottom: 42px;
  letter-spacing: 0.70px;
}
.welcome-text span {
  color: #499A18;
}
.welcome-text {
  margin: 36px 0 0 224.2px;
  width: 549px;
}
.welcome-text p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  margin-bottom: 48px;
}
.welcome-text button {
  border: 2px solid #E06733;
  border-radius: 10px;
  width: 158px;
  height: 44px;
  background: #EDF2EC;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  text-transform:uppercase;
  text-align: center;
}

